/.phpunit.cache
/node_modules

.env
.idea
.vscode
.env.local
.env.*.local
/.phpunit.result.cache
/storage/*.key
/storage/framework/sessions
/storage/framework/views
/storage/logs


/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# .env
.env.backup
.env.production
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

!/public/assets
!/public/assets/*
/public/css
/public/js
